<html xmlns="http://www.w3.org/1999/xhtml">
<!-- DW6 -->
<head>
<!-- Copyright 2005 Macromedia, Inc. All rights reserved. -->
<title>Openstack Flyway Testing Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" href="/static/css/format.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="/static/css/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/static/css/themes/default/easyui.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
<script type="text/javascript">

    var data_to_magrate = {
        'user':new Array(),
        'role':new Array(),
        'image':new Array(),
        'tenant':new Array(),
        'keypair':new Array(),
        'flavor':new Array(),
        'vm':new Array()
    }

    function get_users(){

        $.ajax({
            url: "/flyway_test/get_users"
            }).done(function(return_json) {
                $('#result').datagrid({
                    data: eval("(" + return_json + ')'),
                    columns:[[
                        {field:'ck',title:'CK', checkbox:true, width:40},
                        {field:'name',title:'Name',width:150},
                        {field:'id',title:'Id',width:400}
                    ]],
                    onSelect: function(rowIndex, rowData){select_user_row(rowIndex, rowData)},
                    onUnselect: function(rowIndex, rowData){unselect_user_row(rowIndex, rowData)}
                });
            });
    }

    function get_roles(){

        $.ajax({
            url: "/flyway_test/get_roles"
            }).done(function(return_json) {
                $('#result').datagrid({
                    data: eval("(" + return_json + ')'),
                    columns:[[
                        {field:'ck',title:'CK', checkbox:true, width:40},
                        {field:'name',title:'Name',width:150},
                        {field:'id',title:'Id',width:400}
                    ]],
                    onSelect: function(rowIndex, rowData){select_role_row(rowIndex, rowData)},
                    onUnselect: function(rowIndex, rowData){unselect_role_row(rowIndex, rowData)}
                });
            });
    }

    function get_images(){

        $.ajax({
            url: "/flyway_test/get_images"
            }).done(function(return_json) {
                $('#result').datagrid({
                    data: eval("(" + return_json + ')'),
                    columns:[[
                        {field:'ck',title:'CK', checkbox:true, width:40},
                        {field:'name',title:'Name',width:150},
                        {field:'id',title:'Id',width:400}
                    ]],
                    onSelect: function(rowIndex, rowData){select_image_row(rowIndex, rowData)},
                    onUnselect: function(rowIndex, rowData){unselect_image_row(rowIndex, rowData)}
                });
            });
    }

    function get_keypairs(){

        $.ajax({
            url: "/flyway_test/get_keypairs"
            }).done(function(return_json) {
                $('#result').datagrid({
                    data: eval("(" + return_json + ')'),
                    columns:[[
                        {field:'ck',title:'CK', checkbox:true, width:40},
                        {field:'name',title:'Name',width:150},
                        {field:'fingerprint',title:'Fingerprint',width:400}
                    ]],
                    onSelect: function(rowIndex, rowData){select_keypair_row(rowIndex, rowData)},
                    onUnselect: function(rowIndex, rowData){unselect_keypair_row(rowIndex, rowData)}
                });
            });
    }

    function get_flavors(){

        $.ajax({
            url: "/flyway_test/get_flavors"
            }).done(function(return_json) {
                $('#result').datagrid({
                    data: eval("(" + return_json + ')'),
                    columns:[[
                        {field:'ck',title:'CK', checkbox:true, width:40},
                        {field:'name',title:'Name',width:150},
                        {field:'id',title:'Id',width:400}
                    ]],
                    onSelect: function(rowIndex, rowData){select_flavor_row(rowIndex, rowData)},
                    onUnselect: function(rowIndex, rowData){unselect_flavor_row(rowIndex, rowData)}
                });
            });
    }

    function get_vms(){

        $.ajax({
            url: "/flyway_test/get_vms"
            }).done(function(return_json) {
                $('#result').datagrid({
                    data: eval("(" + return_json + ')'),
                    columns:[[
                        {field:'ck',title:'CK', checkbox:true, width:40},
                        {field:'name',title:'Name',width:150},
                        {field:'id',title:'Id',width:400}
                    ]],
                    onSelect: function(rowIndex, rowData){select_vm_row(rowIndex, rowData)},
                    onUnselect: function(rowIndex, rowData){unselect_vm_row(rowIndex, rowData)}
                });
            });
    }

    function get_tenants(){

        $.ajax({
            url: "/flyway_test/get_tenants"
            }).done(function(return_json) {
                $('#result').datagrid({
                    data: eval("(" + return_json + ')'),
                    columns:[[
                        {field:'ck',title:'CK', checkbox:true, width:40},
                        {field:'name',title:'Name',width:150},
                        {field:'id',title:'Id',width:400}
                    ]],
                    onSelect: function(rowIndex, rowData){select_tenant_row(rowIndex, rowData)},
                    onUnselect: function(rowIndex, rowData){unselect_tenant_row(rowIndex, rowData)}
                });
            });
    }

    function select_user_row(rowIndex, rowData){
        data_to_magrate['user'].push(rowData.name)
    }

    function unselect_user_row(rowIndex, rowData){
        data_to_magrate['user'].splice(data_to_magrate['user'].indexOf(rowData.name), 1)
    }

    function select_role_row(rowIndex, rowData){
        data_to_magrate['role'].push(rowData.name)
    }

    function unselect_role_row(rowIndex, rowData){
        data_to_magrate['role'].splice(data_to_magrate['role'].indexOf(rowData.name), 1)
    }

    function select_image_row(rowIndex, rowData){
        data_to_magrate['image'].push(rowData.name)
    }

    function unselect_image_row(rowIndex, rowData){
        data_to_magrate['image'].splice(data_to_magrate['image'].indexOf(rowData.name), 1)
    }

    function select_tenant_row(rowIndex, rowData){
        data_to_magrate['tenant'].push(rowData.name)
    }

    function unselect_tenant_row(rowIndex, rowData){
        data_to_magrate['tenant'].splice(data_to_magrate['tenant'].indexOf(rowData.name), 1)
    }

    function select_flavor_row(rowIndex, rowData){
        data_to_magrate['flavor'].push(rowData.name)
    }

    function unselect_flavor_row(rowIndex, rowData){
        data_to_magrate['flavor'].splice(data_to_magrate['flavor'].indexOf(rowData.name), 1)
    }

    function select_keypair_row(rowIndex, rowData){
        data_to_magrate['keypair'].push(rowData.fingerprint)
    }

    function unselect_keypair_row(rowIndex, rowData){
        data_to_magrate['keypair'].splice(data_to_magrate['keypair'].indexOf(rowData.fingerprnt), 1)
    }

    function select_vm_row(rowIndex, rowData){
        data_to_magrate['vm'].push(rowData.name)
    }

    function unselect_vm_row(rowIndex, rowData){
        data_to_magrate['vm'].splice(data_to_magrate['vm'].indexOf(rowData.name), 1)
    }

    function migrate(){
        //alert(JSON.stringify(data_to_magrate))
        $.ajax({
            url: "/flyway_test/migrate",
            data: {"data_to_migrate": JSON.stringify(data_to_magrate)}
            }).done(function(return_json) {

            });
    }


</script>

</head>
<body bgcolor="#FFFFFF">
<div style="border:medium #000033" >
<table width="70%" border="0" cellspacing="0" cellpadding="0" align="center">

  <tr bgcolor="#3366CC">
    <td height="63" colspan="2" align="center" valign="middle" nowrap="nowrap"
        id="logo" style="color:#FFFFFF">
        <div align="center"><span class="STYLE2">Openstack Flyway</span></div>
    </td>
  </tr>

  <tr bgcolor="#3366CC">
    <td height="64" colspan="2" id="tagline" valign="middle" align="center">
        <span class="STYLE4">Testing</span>
    </td>
  </tr>

  <tr>
    <td width="170" valign="top" bgcolor="#E6F3FF">
	<table border="0" cellspacing="0" cellpadding="0" width="232" id="navigation">
        <tr>
          <td width="232"><br><br /></td>
        </tr>
        <tr>
          <td width="232"><a onclick="get_users()" class="navText">Users</a></td>
        </tr>
        <tr>
          <td width="232"><a onclick="get_roles()" class="navText">Roles</a></td>
        </tr>
        <tr>
          <td width="232"><a onclick="get_images()" class="navText">Images</a></td>
        </tr>
		<tr>
          <td width="232"><a onclick="get_flavors()" class="navText">Flavors</a></td>
        </tr>
        <tr>
          <td width="232"><a onclick="get_tenants()" class="navText">Tenants</a></td>
        </tr>
        <tr>
          <td width="232"><a onclick="get_keypairs()" class="navText">Key Pairs</a></td>
        </tr>
		<tr>
          <td width="232"><a onclick="get_vms()" class="navText">VMs</a></td>
        </tr>
        <tr>
          <td width="232"><br><br /></td>
        </tr>
    </table>
  	</td>

    <td>
    <table id="result" class="easyui-datagrid" width="590" border="0" valign="top" cellspacing="0" bordercolor="#F0F0F0">

    </table>

	<table border="0" cellspacing="0" cellpadding="0" width="590">
		<tr>
          <td class="bodyText"><p align="right"><a onclick="migrate()">Migrate Resources&gt;</a></p></td>
        </tr>
	</table>

    </td>
  </tr>

  <tr bgcolor="#3366CC">
  	<td height="25" colspan="4" align="center" valign="middle" id="footer"
        style="color:#FFFFFF">Openstack - Flyway
    </td>
  </tr>

</table>
</div>
</body>
</html>
